# Ignore OS files
.DS_Store
Thumbs.db
desktop.ini

# Ignore IDE settings
.vscode/
.idea/
*.iml
*.classpath
*.project
.settings/

# Ignore build
/target/
/build/
/out/
/bin/

# Ignore Node
node_modules/
npm-cache/
package-lock.json

# Ignore Python junk
__pycache__/
*.pyc
*.pkl
*.pickle
*.ipynb_checkpoints/
